<% layout('/layouts/adminboilerplate.ejs') %>

<div class="d-flex">

  <div class="side-bar d-flex flex-column rounded border-0 ms-3 mt-5" style="width: 18rem;">
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Dash Board
    </a>
    <a href="/admin/panel/products" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Products
    </a>
    <a href="/admin/panel/user_management" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      User's
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Order's
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Coupons
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Collections
    </a>
    <a href="/admin/panel/category" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Category
    </a>
  </div>

  <div class="add-product-container d-flex flex-column align-items-center mt-5 ms-2 w-75">

    <h2 class="text-decoration-underline">Add Products</h2>
    <div class="w-50">
    <form action="/admin/panel/products/add_product" method="POST" enctype="multipart/form-data">

      <div class="mb-3">
        <label for="addProductName" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="addProductName" name="productName" placeholder="Enter Your Product Name">
      </div>

      <div class="mb-3">
        <label for="addProductPrice" class="form-label">Price</label>
        <input type="number" class="form-control" id="addProductPrice" name="price" placeholder="Enter Your Price">
      </div>

      <div class="mb-3">
        <label for="addProductCategory" class="form-label">Category</label>
        <select class="form-select" name="category" aria-label="Default select example">
          <option selected>None</option>
          <% for(let category of categories){ %>
            <option value="<%= category.category %>"><%= category.category  %></option>
          <% } %>
        </select>
      </div>

      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="productDescription" name="description" style="height: 100px"></textarea>
        <label for="productDescription">Description</label>
      </div>

      <div class="mb-3">
        <label for="productimage" class="form-label">Upload Your Images</label>
        <input type="file" class="form-control" name="image" id="productimage">
      </div>

      <div class="mb-3">
        <label for="productquantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" id="productquantity" name="stock" placeholder="Enter Your Product Quantity">
      </div>

      <button class="add-product-btn btn btn-primary">Add Product+</button>

    </form>
    </div>
       
  </div>

</div>