<% layout('layouts/adminboilerplate.ejs') %>

<div class="d-flex">

  <div class="side-bar d-flex flex-column rounded border-0 ms-3 mt-5" style="width: 18rem;">
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Dash Board
    </a>
    <a href="/admin/panel/products" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Products
    </a>
    <a href="/admin/panel/user_management" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      User's
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Order's
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Coupons
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Collections
    </a>
    <a href="/admin/panel/category" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Category
    </a>
  </div> 

  <div class="w-100 d-flex flex-column align-items-center">
    
    
    
  

  </div>


</div>

