<!-- custom css for this html page is written on style.css -->
<% layout('layouts/adminboilerplate.ejs') %>

<div class="d-flex">

  <div class="side-bar d-flex flex-column rounded border-0 ms-3 mt-5" style="width: 18rem;">
    <a href="/admin/panel" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Dash Board
    </a>
    <a href="/admin/panel/products" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Products
    </a>
    <a href="/admin/panel/user_management" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      User's
    </a>
    <a href="/admin/panel/orders" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Order's
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Coupons
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Collections
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Banner
    </a>
    <a href="/admin/panel/category" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Category
    </a>
  </div> 

  <div class="w-100 d-flex flex-column align-items-center container">
    <% for(let category of categories){ %>
      <div class="category-card container rounded-4 mt-5 d-flex justify-content-between align-items-center">
        <p class="mb-0 ms-2"><%= category.category %></p>
        <div>
          <button type="button" class="category-edit-btn btn btn-sm btn-primary me-2" style="height : 30px; width : 70px;" data-category-path="/admin/panel/category/edit/<%= category._id %>" data-bs-toggle="modal" data-bs-target="#editCategoryModal">Edit</button></a>
          <a href="/admin/panel/category/delete/<%= category._id %>"><button class="btn btn-sm btn-danger me-2" style="height : 30px; width : 70px;">Delete</button></a>
        </div>
      </div>
    <% } %>

      <!--Edit Category Modal -->
        <div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <form class="categoryForm" action="" method="POST">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Category</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">
                    <div class="input-group flex-nowrap">
                      <input type="text" class="form-control modal-input" value="" name="category" placeholder="Enter a Category name" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mt-4 mb-4" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
  Add Category+
</button>

<!-- Modal -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Category+</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/admin/panel/category/add" method="POST">
        <div class="modal-body">
          <div class="input-group flex-nowrap">
            <input type="text" class="form-control" name="category" placeholder="Enter a Category name" aria-label="Username" aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
    
   
  </div>

   
</div>

<script src="/script/category.js"></script>
