<% layout('layouts/adminboilerplate.ejs') %>
<div class="login-page">
  <div class="ms-3 mt-5 h-75 d-flex flex-row">
  <div class="card border-0 h-75 side-bar" style="width: 18rem;">

    <a href="/admin/panel" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Dash Board
    </a>
    <a href="/admin/panel/products" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Products
    </a>
    <a href="/admin/panel/user_management" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      User's
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Order's
    </a>
    <a href="/admin/panel/coupon_management" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Coupons
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Collections
    </a>
    <a href="/admin/panel/banner_Management" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Banner
    </a>
    <a href="/admin/panel/category" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Category
    </a>
    
  </div>
  <div class="container">
    <div class="d-flex">
      <div class="couponList">
         <% for(let coupon of coupons){ %>
           <div class="d-flex py-2 px-2 bg-light justify-content-between">
            <h5><%= coupon.couponCode %></h5>
            <span>
              <a href="/admin/panel/coupon_management/delete/<%= coupon._id  %>"><button class="btn btn-danger">Delete</button></a>
              <button class="btn btn-primary">Edit</button>
            </span>
           </div>
         <% } %>
      </div>
      <div class="d-flex flex-column ms-5">
        <form action="/admin/panel/coupon_management" method="post">
          <div>
            <label for="">Enter the coupon code which you want to create coupon with</label>
            <input class="form-control mb-3 couponInput" type="text" name="couponCode" placeholder="" aria-label="default input example" required>
          </div>
          <div>
            <label for="couponValue">Enter the coupon value in percentage%</label>
            <input class="form-control mb-3" name="value" id="couponValue" type="number" required>
          </div> 
          <button type="submit" class="btn btn-primary">Add coupon+</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>