<% layout('layouts/adminboilerplate.ejs') %>

<div class="d-flex">

  <div class="side-bar d-flex flex-column rounded border-0 ms-3 mt-5" style="width: 18rem;">
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Dash Board
    </a>
    <a href="/admin/panel/products" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Products
    </a>
    <a href="/admin/panel/user_management" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      User's
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Order's
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Coupons
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Collections
    </a>
  </div> 

  <div class="w-100 d-flex flex-column align-items-center">
    
    <div class="d-flex mt-5">

      <div class="ms-4 pe-4 border-end">
        <h5>Total Products</h5>
        <h2>456</h2>
      </div>
      <div class="ms-4 pe-4 border-end">
        <h5>Out of Stocks</h5>
        <h2>63</h2>
      </div>
      <div class="ms-4 pe-4 border-end">
        <h5>Categories</h5>
        <h2>5</h2>
      </div>

    </div>

    <div class="mt-5">
      <div class="w-75 border-bottom">
        <ul class="d-flex m-0 list-unstyled justify-content-around">
          <li>Name</li>
          <li>Price</li>
          <li>Category</li>
          <li>Stock</li>
        </ul>
      </div>

      <div class="product-list">
        <% for(i=0;i<10;i++){ %>
        <div class="product-card w-100 card mt-4 d-flex flex-row align-items-center">
              <img class="rounded product-card-img m-1" src="https://images.unsplash.com/photo-1600185365926-3a2ce3cdb9eb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHNob2VzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="">
              <h6 class="">Product Name</h6>
              <h6 class="product-price">000.0</h6>
              <h6 class="product-category">Disabled</h6>
              <h6 class="product-stock">000</h6>
              <div class="ms-5">
                <button class="btn btn-danger me-2">Delete</button>
                <button class="btn btn-primary me-2">Edit</button>
              </div>
        </div>
        <% } %>
      </div>
    </div>

    <a href="/admin/panel/products/add_product" class="btn btn-primary mt-3 add-product-btn">Add Product+</a>
  </div>


</div>

