<% layout('layouts/adminboilerplate.ejs') %>

<div class="d-flex">

  <div class="side-bar d-flex flex-column rounded border-0 ms-3 mt-5" style="width: 18rem;">
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Dash Board
    </a>
    <a href="/admin/panel/products" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Products
    </a>
    <a href="/admin/panel/user_management" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      User's
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Order's
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Coupons
    </a>
    <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-dark text-decoration-none border bg-light rounded-2 mx-2 mt-2">
      Collections
    </a>
  </div> 

  <div class="w-100 d-flex flex-column align-items-center">
    <div class="">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Total Products</th>
            <th scope="col">Out Stocks</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>456</td>
            <td>6</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <a href="/admin/panel/products/add_product" class="btn btn-primary mt-3 add-product-btn">Add Product+</a>
    <div class="container text-center mt-3 user-scrollable">
      <div class="row">
        <% for(product of products){ %>
          <% product.image[0] = product.image[0].replace('public', '') %>
        <div class="col col-12 col-md-6 col-lg-4 col-xl-3 g-3">
          <div class="card" style="width: 18rem;">
            <div class="product-image">
              <img src="<%= product.image[0] %>" class="card-img-top card-img object-fit-contain" alt="...">
            </div>           
            <div class="card-body text-start">
            <h5 class="card-title"><b>Name:</b><%= product.productName %></h5>
              <p class="card-text"><b>Price:</b> <%= product.price  %></p>
              <p class="card-text text-success"><b>Stock:</b> <%= product.stock %></p>
              <a href="#" class="btn btn-primary">Edit</a>
              <a href="#" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    
      


  </div>


</div>

