
<nav class="bg-body-tertiary" data-bs-theme="dark">
  <div class="navbar container">
    <div class="container-fluid">
      <a class="navbar-brand">TrendzKart</a>
      <div class="text-light">Admin Dashboard</div>
      <a href="/user_login">Login As User</a>
    </div>
  </div>
</nav>