
  <nav class="navbar navbar-expand-md bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">TrendzKart</a>
          <ul class="navbar-nav me-auto mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/category">Category</a>
            </li>
          </ul>
        </div>
        <span class="d-flex">
          <% if(typeof userPurpose !== 'undefined'){ %>
          <% if(userPurpose == "login"){ %> 
            <a href="/user_login"><button type="button" class="btn btn-light mx-2">Login</button></a>
            <a href="/user_signup"><button type="button" class="btn btn-outline-light">SignUp</button></a>           
            <% }else{ %>
              <a href="/user_login"><button type="button" class="btn btn-light mx-2">Login</button></a>
          <% } %>
          <% if(userPurpose && !userPurpose == 'signup'){ %>
          <form class="d-flex" role="search">
            <input class="form-control me-2 bg-light" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <% } %>
          <% } %>
          <% if(typeof userPurpose == 'undefined'){ %>
             <!-- Cart button -->
            <a href="/user/cart" class="cart-btn bi bi-cart3 text-light mx-2" style="font-size: 1.5rem"></a>
            <!-- // wishlist button -->
            <a href="/user/wishlist" class="bi bi-heart-fill text-light mx-2" style="font-size: 1.5rem"></a>
            <!-- // Logout button -->
            <a href="/user/user_logout" class="text-decoration-none pt-1 text-light mx-2">Logout</a>
            <!-- // Profile button -->
            <a href="/user/user_account"><i class="bi bi-person-circle text-light mx-2" style="font-size: 1.5rem"></i></a>
          <% } %>
        </span>
      </div>
  </nav>

 