
  <nav class="bg-body-tertiary" data-bs-theme="dark">
    <div class="navbar container">
      <div class="container-fluid">
        <div>
          <a class="navbar-brand">TrendzKart</a>
          <a class="text-decoration-none text-light" href="">Home</a>
          <a class="text-decoration-none text-light ms-2" href="">Category</a>
        </div>
        <span class="d-flex">
          <% if(typeof userPurpose !== 'undefined'){ %>
          <% if(userPurpose == "login"){ %>
            <a href="/user_signup"><button type="button" class="btn btn-light mx-2">SignUp</button></a>
          <% } %>
          <% if(userPurpose && !userPurpose == 'signup'){ %>
          <form class="d-flex" role="search">
            <input class="form-control me-2 bg-light" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <% } %>
          <% } %>
          <% if(typeof userPurpose == 'undefined'){ %>
            <i class="bi bi-cart3 text-light mx-2" style="font-size: 1.5rem"></i>
            <i class="bi bi-heart-fill text-light mx-2" style="font-size: 1.5rem"></i>
            <a href="/user/user_logout" class="text-decoration-none pt-1 text-light mx-2">Logout</a>
            <a href="/user/user_account"><i class="bi bi-person-circle text-light mx-2" style="font-size: 1.5rem"></i></a>
          <% } %>
        </span>
      </div>
    </div>
  </nav>
