
  <nav class="bg-body-tertiary" data-bs-theme="dark">
    <div class="navbar container">
      <div class="container-fluid">
        <a class="navbar-brand">TrendzKart</a>
        <span class="d-flex">
          <button type="button" class="btn btn-light mx-2">SignUp</button>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <i class="bi bi-cart3 text-light mx-2" style="font-size: 1.5rem"></i>
        </span>
      </div>
    </div>
  </nav>
