<% layout('layouts/boilerplate.ejs') %>

<div class="container mt-3">
     
  <div class="min-vh-100">

    <h1>About<b>Trendzkart</b></h1>
    <p> Welcome to <b>Trendzkart</b> where we share information related to Ecommerce. We're dedicated to providing you the very best information and knowledge of the above mentioned topics.</p>
  
    <p>We hope you found all of the information on <b>Trendzkart</b> helpful, as we love to share them with you.</p>
  
    <p>If you require any more information or have any questions about our site, please feel free to contact us by email at <b>mrmithunofficial321@gmail.com</b>.</p>
  
  
  
  </div>
    
</div>