<% layout('layouts/boilerplate') %>

<main class="min-vh-100 min-vw-100">
  <div class="container mt-4 mb-4">
    <h4>My Cart</h4>
    <% for(let product of cart_products){ %>
    <div class="card my-1">
      <div class="row">
        <div class="col-5 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
          <img class="img-thumbnail object-fit-contain m-1" style="height : 200px; width : 200px" src="https://images.unsplash.com/photo-1682686580950-960d1d513532?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8"  alt="...">
        </div>
        <div class="col d-flex flex-column justify-content-center">
          <p class="fs-4 text-capitalize fw-medium"><%= product.productName %></p>
          <p class="fw-medium">Price : <%= product.price %></p>
          <div>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="productcountdecrementbtn">-</button>
              <input type="text" class="productcount" value="1" readonly>
              <button type="button" class="productcountincrementbtn">+</button>
            </div>
            <button type="button" class="btn btn-warning mt-1" style="width : 150px;">Buy Now</button>
          </div>
        </div>
        <div class="col position-relative mx-3">
          <i class="bi bi-trash3-fill position-absolute top-0 end-0" style="font-size : 25px"></i>
        </div>
      </div>
    </div>
   <% } %>

   <div class="row">

    <div class="col">

    </div>

    <div class="col">
      <table class="table">
        <tbody>
          <tr>
            <td>Total Items(0)</td>
            <td>Price:</td>
            <td>₹:<%= productSum %></td>
          </tr>
          <tr>
            <td>Delivery Charges</td>
            <td>(00)</td>
          </tr>
          <tr>
            <td colspan="2" class="text-end">To Pay:</td>
            <td>₹<%= productSum %>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-warning">Proceed to Pay</button>
      <button type="button" class="btn btn-danger">Remove All</button>
    </div>

   </div>

  </div>
</main>

<script src="/script/cartScript.js"></script>