<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="/styles/error.css" type="text/css">
</head>
<body>
  
  <section class="container">
    <div class="header">404</div>
    <img src="/asset/gifs/dribbble_1.gif" alt="">
    <div class="font">Look Like you're lost</div>
    <p class="font">The page you are looking is unavailable!</p>
    <a href="/"><button class="font go-home-btn">Go Home</button></a>
  </section>
  
</body>
</html>


