<% layout('layouts/boilerplate') %>

<div class="d-flex">
  <div class="profile-container rounded w-100 container my-2">
      <div class="card my-3 mx-4">
        <div class="row g-0">
          <div class="col-md-4 col-lg-3 border-end">
            <img src="\asset\product_images\1704461243864-903555665-shoes 1.jpg" class="img-fluid rounded mx-auto d-block" alt="...">
          </div>
          <div class="col-md-8 col-lg-9">
            <div class="card-body">
              <h5 class="card-title">Product Name</h5>
              <p class="card-text">This is a wider card withn to additional content. This content is a little bit longer.</p>
              <div class="orderStatusUpdater ms-md-3 d-flex">
                <div class="ordered">
                  <span class="mb-1 statusText1">Ordered</span>
                  <div class="d-flex align-items-center">
                    <div class="point1"></div>
                    <div class="point1Updater"></div>
                  </div>
                </div>
                <div class="shipped">
                  <span class="mb-1 statusText2">Shipped</span>
                  <div class="d-flex align-items-center">
                    <div class="point1"></div>
                    <div class="point1Updater"></div>
                  </div>
                </div>
                <div class="outForDelivery">
                  <span class="mb-1 statusText3">Out For Delivery</span>
                  <div class="d-flex align-items-center">
                    <div class="point1"></div>
                    <div class="point1Updater"></div>
                  </div>
                </div>
                <div class="delivered">
                  <span class="mb-1 statusText4">Delivered</span>
                  <div class="d-flex align-items-center">
                    <div class="point1"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
 </div>
</div>
