<% layout('layouts/boilerplate') %>

<div class="min-vh-100 min-vw-100 d-flex justify-content-center align-items-center">
   <div class="bg-color w-50 h-50">
    <div>
      <h3>Order Confirmed</h3>
      <p>Thankyou For Shopping</p>
      <a href="">Go to order details</a>
      <a href="">Continue Shopping</a>
    </div>
   </div>
</div>