<% layout('layouts/boilerplate') %>

<div class="login-page d-inline-flex justify-content-center align-items-center">

  <div class="card w-75 h-50 bg-dark">
    <div class="card-body d-flex justify-content-center align-items-center">
      <form action="/register/otp" id="registerForm" method="post">
        <div class="d-flex flex-column align-items-center">
          <!-- User Name -->
          <div>
            <label for="otp-verification" class="form-label fw-medium text-light">Enter the Verification code</label>
              <div class="input-group has-validation">
                <input type="number" class="form-control" id="otp-verification" placeholder="Enter Your Code here" name="otp" required>
              </div>
              <p class="text-light mb-0">Did't receive the verification OTP?<a href="/resend" class="text-primary">Resend Again?</a></p>
          </div>
          <button type="submit" class="btn btn-warning mt-3" style="width : 100px">Verify</button>
        </div>
      </form>
    </div>
  </div>

</div>