<% layout('layouts/boilerplate') %>

<div class="vh-100 vw-100 d-flex align-items-center justify-content-center">
  <div class="w-50 h-50 d-flex flex-column align-items-center justify-content-center border rounded">
    <img class="webLogo" src="/asset/Logo's/20240614_131633.png" alt="">
    <div class="w-50">
      <form action="/passwordRecovery/verifyOtp" method="post">
        <p>Enter the 0tp send to your email</p>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">OTP</label>
          <input type="number" class="form-control" id="exampleFormControlInput1" name="otp" required>
        </div>
        <button class="btn w-100 mt-3 btn-primary">Continue</button>
      </form>
    </div>
  </div>
</div>