<% layout('layouts/boilerplate') %>

<div class="min-vh-100 min-vw-100">
  <div class="container p-0 mt-4 rounded d-flex bg-color shadow">
    <div class="row">
      <div class="noecol-md-6 col-lg-5 col-xl-4">

       <div class="container d-flex flex-column align-items-center">

          <div class="productImageContainer shadow border-dark-subtle d-flex align-items-center">
            <div class="imgMagnifierContainer">
              <img class="img-fluid image" src="https://images.unsplash.com/photo-1521572163474-6864f9cf17ab?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dHNoaXJ0fGVufDB8fDB8fHww" alt="">
              <div class="lens"></div>
              <div class="result"></div>
            </div>
          </div>
          <div class="d-flex justify-content-evenly mt-1">
            <img class="extraProductImages" src="https://images.unsplash.com/photo-1521572163474-6864f9cf17ab?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dHNoaXJ0fGVufDB8fDB8fHww" alt="">
            <img class="extraProductImages" src="https://images.unsplash.com/photo-1521572163474-6864f9cf17ab?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dHNoaXJ0fGVufDB8fDB8fHww" alt="">
            <img class="extraProductImages" src="https://images.unsplash.com/photo-1521572163474-6864f9cf17ab?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dHNoaXJ0fGVufDB8fDB8fHww" alt="">
            <img class="extraProductImages" src="https://images.unsplash.com/photo-1521572163474-6864f9cf17ab?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dHNoaXJ0fGVufDB8fDB8fHww" alt="">
          </div>

       </div>
        <div class="d-flex justify-content-evenly mt-2">
            <button class="btn btn-dark shadow" style="width : 150px;">Add to Cart</button>
            <button class="btn btn-warning shadow" style="width : 150px;">Buy Now</button>
        </div>
      </div>

      <div class="border-start col-md-6 col-lg-7 col-xl-8 border-1 border-secondary-subtle">
        <div class="container p-5">
          <h1 class="product-title">This is an Test</h1>
          <div class="d-flex align-items-center">
            <span class="rating-count">3.4<i class="bi bi-star-fill"></i></span>
            <p class="d-inline m-0 ms-2 text-secondary fw-medium product-review">52 rating & 6 reviews</p>
          </div>
          <h3 class="my-2">₹799</h3>

          <div class="size-chart d-inline">
            <input type="radio" class="btn-check" name="options-base" id="option5" autocomplete="off" checked>
            <label class="btn shadow" for="option5">S</label>
            
            <input type="radio" class="btn-check" name="options-base" id="option6" autocomplete="off">
            <label class="btn shadow" for="option6">M</label>
            
            <input type="radio" class="btn-check" name="options-base" id="option7" autocomplete="off">
            <label class="btn shadow" for="option7">L</label>

            <input type="radio" class="btn-check" name="options-base" id="option8" autocomplete="off">
            <label class="btn shadow" for="option8">XL</label>
          </div>

          <div class="description">
            <h4 class="text-decoration-underline">Description</h4>
            <div class="container text-wrap">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum iure architecto illo.
              Nam voluptatem nulla neque! Quia inventore, quasi omnis, ratione excepturi nam, quis autem delectus r
              eiciendis laboriosam dolore repellendus!sdjfh.
            </div>
          </div>

        </div>
        <div>
        <h3>Related=></h3>
          <div>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
          </div>
        </div>
      </div>

    </div>
     

  </div>
</div>

<script src="/script/productviewscript.js"></script>