<% layout('layouts/boilerplate') %>

<div class="login-page d-inline-flex justify-content-center align-items-center">

  <div class="card w-25 h-75 bg-dark rounded-0 rounded-start">
    <div class="card-body">
       <h3 class="text-light">SignUp</h3>
       <h4 class="text-light">Create an Account</h4>
       <h4 class="text-light">and Start Shopping</h4>
    </div>
  </div>

  <div class="card w-25 h-75 bg-warning rounded-0 rounded-end">
    <div class="card-body d-flex justify-content-center align-items-center">
      <form action="/register" id="form" method="post">
        <div class="d-flex flex-column align-items-center">
          <!-- User Name -->
          <div>
            <label for="userName" class="form-label fw-medium">Enter Your UserName</label>
              <div class="input-group has-validation">
                <input type="text" class="form-control" id="userName" placeholder="username" name="username" required>
              </div>
          </div>
          <!-- Email Address -->
          <div>
            <label for="emailaddress" class="form-label fw-medium">Email address</label>
              <div class="input-group has-validation">
                <input type="text" class="form-control" id="emailaddress" placeholder="abcd@gmail.com" name="emailaddress" required>
              </div>
          </div>
          <!-- Password -->
          <div class="">
            <label for="password-input" class="form-label fw-medium">Password</label>
              <input  id="password-input" type="password" class="form-control" name="password" required>
              <p class="m-0 text-danger" id="password-d"></p>
          </div>
          <!-- Confirm password -->
          <div class="">
            <label for="passwordConfirmation" class="form-label fw-medium">Password Confirmation</label>
              <input type="password" id="passwordConfirmation" class="form-control" name="confirmPassword" required>
          </div>
          <h6>Already have an account<a href="/user_login" class="text-primary">login?</a></h6>
          <button type="submit" class="btn btn-dark mt-3" style="width : 100px">SignUp</button>
        </div>
      </form>
    </div>
  </div>

</div>
