<% layout('layouts/boilerplate') %>

<div class="d-flex">

  <div class="side-nav d-flex flex-column align-items-center rounded">
    <i class="bi bi-person-circle text-light" style="font-size: 5rem"></i>
    <h2 class="text-light">Username</h2>
      <div class="m-2 px-2 w-100 d-flex flex-column">
        <a href="/user/user_account"><button class="btn btn-light w-100 mb-3">Profile</button></a>
        <a href=""><button class="btn btn-light w-100 mb-3 ">My Orders</button></a>
        <a href=""><button class="btn btn-light w-100 mb-3 ">Cart</button></a>
        <a href=""><button class="btn btn-light w-100 mb-3 ">My Coupons</button></a>
        <a href=""><button class="btn btn-light w-100 mb-3 ">Manage Address</button></a>
      </div>
  </div>
  
  <div class="profile-container w-100 mt-2 me-2">
    <form id="usereditform" action="/user/user_account" method="post">
      <div class="w-75 mt-5 ms-2">
        <div class="row mb-2">

          <div class="col">
            <label>First Name</label>
            <input type="text" class="form-control" value="<%= user.username %>" placeholder="First name" name="username" aria-label="First name">
          </div>

        </div>
  
        <div class="col mb-2">
          <label for="">Phone Number</label>
          <input type="number" class="form-control w-50" value="<%= user.phone %>" placeholder="Phone Number" name="phone" aria-label="Last name"> 
        </div>
  
        <div class="col mb-2">
          <label for="">Email</label>
          <input type="email" id="useremailinput" class="form-control w-50" value="<%= user.email %>" placeholder="Enter Your EmailAddress" name="email"> 
          <p class="m-0 text-danger" id="useremailmsg"></p>
        </div>

        <div class="mb-3 mb-2">
          <label for="exampleFormControlTextarea1" class="form-label">Address</label> 
          <textarea class="form-control w-50" id="exampleFormControlTextarea1"name="address" rows="3"><%= user.address %></textarea>
        </div> 
        <button type="submit" class="btn btn-primary">edit</button>
      </div> 
    </form>
  </div>

</div>

