<% layout('layouts/boilerplate') %>

<main class="min-vh-100 min-vw-100">
  <div class="container mt-4">
   <h4>My Wishlist</h4>
   <div class="card">
    <div class="row">
      <div class="col-5 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
        <img class="img-thumbnail object-fit-contain m-1" style="height : 200px; width : 200px" src="https://images.unsplash.com/photo-1634403665481-74948d815f03?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c21hcnBob25lfGVufDB8MXwwfHx8MA%3D%3D"  alt="...">
      </div>
      <div class="col d-flex flex-column justify-content-center">
        <p>Demo</p>
        <p>Price</p>
        <button type="button" class="btn btn-dark mt-1" style="width : 150px;">Add to Cart</button>
        <button type="button" class="btn btn-warning mt-1" style="width : 150px;">Buy Now</button>
      </div>
      <div class="col position-relative mx-3">
        <i class="bi bi-trash3-fill position-absolute top-0 end-0" style="font-size : 25px"></i>
      </div>
    </div>
  </div>
  </div>
</main>