@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

/* <<< Body Styles >>> 
______________________*/
body{
   overflow-x: hidden;
}

/* <<< common styles >>> */

.font{
  font-family  : "Syne", sans-serif!important;
}
.webLogo{
  height : 50px;
  width : 200px;
  object-fit: cover;
  margin-top : 10px;
}


/*<<< Login Page >>>
 ___________________*/

.login-page{
  width : 100vw;
  height : 100vh;
}


/*<<<🔥 User Side >>> 🔥*/


.nav-bar{
  position: absolute!important;
  width : 100%!important;
  z-index : 99;
  top : 0px;
}

.navmargin{
  margin-top : 76px!important;
}

.custom-carousel{
  height : 65vh!important;
}

.custom-carousel img{
  height : 100%;
  object-fit: cover;
}

.product-img{
  height : 186px;
  width  : 185px;
}

.banner-1{
  height : 400px;
  width  : 100%
}

.banner-1 img{
  height : 100%!important;
  width  : 100%!important
}

.product-scroll{

  overflow-x : scroll;
  white-space: nowrap;
}

.product-scroll::-webkit-scrollbar{
  height : 10px;
  background-color: white;
}
.product-scroll::-webkit-scrollbar-thumb{
  background-color : grey;
  border-radius : 20px;
}

.card-container{
  display : flex;
}

.card{
  flex : 0 0 auto;
}

.side-nav{
  height : 90vh;
  width  : 250px;
  margin : 8px;
  background-color: rgb(41, 45, 50)!important;
}

.side-nav-smdevice{
   height : 90vh;
   width : auto;
   margin : 10px;
   background-color: rgb(41,45,50)!important;
}

.profile-container{
  background-color : rgb(217, 217, 217)!important;
  height : 90vh;
  margin-bottom : 10px;
}

.alert-on-active{
  position : fixed;
  bottom : 5vh;
  left  : 50%;
  z-index : 10;
  background-color : rgb(33, 33, 33);
  min-width : 100px;
  min-height : 50px;
  transform : translateX(-50%);
  color : white;
  opacity: 0.7;
  border-radius : 3px;
  display : flex;
  justify-content: center;
  align-items: center;
}

.display-none{
  display : none;
}

.category-card{
  height : 120px!important;
  width  : 100%!important;
}

.category-card img{
   height : 100%;
   width  : 100%
}

.dropdown-menu{
  min-width: 5rem!important;
}

.address-box{
  min-width : 75%!important;
}

.address-box-container{
  width : 100%;
}

th, td {
  padding: 8px; /* Adjust the padding as needed */
}

.sidenavToggler{
  position : absolute;
  display : flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width : 14px;
  height : 50px;
  border-top-right-radius: 7px;
  border-bottom-right-radius : 7px;
  top : 15%;

}

.ordersBody{
  height : 310px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.ordersHeadline{
  height : 30%;
  width : 100%;
  border-bottom: 1px solid #dee2e6;
}
.orderHeadlineDetails{
  min-width : 45%!important;
}
.orderBtnGrp{
  min-width: 30%;
  display : flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.orderBtnGrp :nth-child(n){
  flex : 0 0 auto;
  border : 2px solid #dee2e6;
  padding : 6px;
  background-color: white;
  border-radius: 5px;
}
.checkoutPgeProductDetails{
  background-color: rgba(207, 207, 207, 0.4);
}
.inputElementStyles{
   border : none;
   height : 35px;
   width : 300px;
   margin-bottom: 10px;
}
.addressInput{
  border : none;
  margin-bottom : 10px;
}
.orText{
  margin-left: 50%;
  transform: translate(50%,0);
}
.defalutAddress{
   background-color: white;
}

.prdQuantityWraper2{
  border : 1px solid gray;
  border-radius: 5px;
  height : 38px;
  width : 100px;
  box-sizing: border-box;
  display : inline-flex;
  align-items: center;
}

.productcountdecrementbtn2{
  height : 37px;
  width : 33.33%;
  padding-top : 0px;
  border : none;
  background-color: transparent;
  border-radius: 5px;
}

.productcountincrementbtn2{
  height : 37px;
  width : 33.33%;
  padding-top : 0px;
  border : none;
  background-color: transparent;
  border-radius: 5px;
}

.orderPlaced{
   background-color: green;
   height : 5px;
   width  : 100px;
   display: flex;
   align-items: center;
   position: relative;
}

.orderPlacedText{
  position : absolute;
  font-size: small;
  top : -25px;
}

.orderPlaced::before{
  content : "";
  display: block;
  height: 13px;
  width : 13px;
  border-radius: 50%;
  background-color: green;
}


.orderShipped{
  background-color: green;
  height : 5px;
  width  : 100px;
  display: flex;
  align-items: center;
  position : relative;
}

.orderShipped::before{
  content : "";
  display: block;
  height: 13px;
  width : 13px;
  border-radius: 50%;
  background-color: green;
}

.orderShippedText{
  position : absolute;
  top : -25px;
  font-size: small;

}

.orderOutForDelivery{
  background-color: green;
  height : 5px;
  width  : 100px;
  display: flex;
  align-items: center;
  position : relative;
}

.orderOutForDelivery::before{
  content : "";
  display: block;
  height: 13px;
  width : 13px;
  border-radius: 50%;
  background-color: green;
}

.outForDeliveryText{
  position : absolute;
  font-size : small;
  top : -25px;

}

.orderDelivered{
  height: 13px;
  width : 13px;
  border-radius: 50%;
  background-color: green;
  position : relative;
}

.deliveredText{
   position : absolute;
   font-size : small;
   top : -20.5px;
}

.shaker{
   animation : 0.2s 5 tilt-shaking;
}

@keyframes tilt-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-4px) }
  75% { transform: translateX(4px) }
  100% { transform: translateX(0) } 
}



/*🔥 <<< Admin Page >>> 🔥*/

.main-body{
  width : auto;
  position : absolute;
  left : 350px;
  top : 60px;
}

.category-sidebar{
  /* position : fixed!important; */
  background-color : rgb(217, 217, 217)!important;
  height : 90vh;
}

.user-scrollable {
  height : 600px!important;
  overflow-y: scroll;
}

.user-nav{
  background-color: rgb(217, 217, 217)!important;
}

.bg-color{
  background-color: #f1f3f6!important;
}

.edit-container{
   position : absolute;
   left : 350px;
   top : 100px;
}

.add-product-container{
  height : auto;
  background-color : rgb(217, 217, 217)!important;
}

.card-img{
  height : 100%;
  width  : 100%;
}

.product-image{
  height : 200px;
  width  : 18rem;
}

.category-card{
  background-color : rgb(217, 217, 217);
  height : 57px;
  max-width : 716px!important;
}

.image-container{
   margin-top : 16px;
   padding-bottom : 16px;
   background-color: white;
   width : 100%;
   min-height : 200px;
   height: auto;
   display : flex;
   flex-direction : column;
   align-items: center;
   justify-content: center;
   border-radius : 5px;
}

.image-container label{
  padding-left : 5px;
  margin : 0px;
}

.image-container p{
  text-align: center;
  margin : 10px 0 20px 0;
}

.image-inner-container{
  display : flex;
  align-items: center;
  justify-content: center;
  color : white;
  background-color: #2e76c8;
  padding : 10px;
  border-radius : 3px;
}

.image-inner-container:hover{
  cursor : pointer;
}

.bannerContainer{
  width : 300px;
  height : 200px;
  margin-right : 10px;
  position : relative;
}

.bannerDeleteBtn{
  position :  absolute;
  border :  none;
  bottom : 0;
  left : 0;
  width : 50%;
  height : 20%;
  background-color : #2B124C;
  color : white;
  opacity: 0.8;
}


.bannerUploadBtn{
  position : absolute;
  display : flex;
  justify-content: center;
  align-items: center;
  border : none;
  bottom : 0;
  right : 0;
  width : 50%;
  height : 20%;
  background-color : #522B5B;
  color : white;
  opacity : 0.8;
}

.bannerInput{
  display : none;
  position : absolute;
  border : none;
  bottom : 0;
  right : 0;
  width : 50%;
  height : 20%;
}

.bannerSubmitButton1{
  display : none;
  position : absolute;
  right : 50%;
  margin-top : 10px;
  transform: translate(50%,0);
  background-color: #0F9890;
  border : none;
  color : white;
  padding-inline : 10px;
  padding-block : 5px;
  border-radius: 5px;
}

.bannerSubmitButton2{
  display : none;
  position : absolute;
  right : 50%;
  margin-top : 10px;
  transform: translate(50%,0);
  background-color: #0F9890;
  border : none;
  color : white;
  padding-inline : 10px;
  padding-block : 5px;
  border-radius: 5px;
}

.bannerSubmitButton3{
  display : none;
  position : absolute;
  right : 50%;
  margin-top : 10px;
  transform: translate(50%,0);
  background-color: #0F9890;
  border : none;
  color : white;
  padding-inline : 10px;
  padding-block : 5px;
  border-radius: 5px;
}

.bannerSubmitButton4{
  display : none;
  position : absolute;
  right : 50%;
  margin-top : 10px;
  transform: translate(50%,0);
  background-color: #0F9890;
  border : none;
  color : white;
  padding-inline : 10px;
  padding-block : 5px;
  border-radius: 5px;
}

.couponList{
  width : 300px;
  height : 80vh;
  overflow-x: scroll;
}

#productimage{
  display : none;
}

#images{
  width : 90%;
  position : relative;
  margin : auto;
  display : flex;
  justify-content: space-evenly;
  gap : 20px;
  flex-wrap: wrap;
  padding-block : 20px
}

.productImgDltBtn{
  background-color: #2e76c8;
  color : white;
  border : none;
  padding-block : 5px;
}

.add-product-btn{
  background-color: #2e76c8;
  color : white;
  border : none;
  border-radius: 2px;
  padding-block : 5px;
  padding-inline : 10px;
}

figure{
  width : 9.625rem;
  height : 9.625rem;
}
.preview-img{
  width : 100%;
  min-height : 100%;
  max-height : 100%
}

figcaption{
  text-align : center;
  font-size : 2.4vmin;
  margin-top : 0.5vmin;
}

.proceedToPayment{
  color : white!important;
  background-color: #2e76c8!important;
}


@media only screen and (max-width : 768px) {

  .signup-pge-lft{
    display : none!important;
  }
  .signup-pge-rgt{
    height :  65%!important;
    width : 75%!important;
  }
  .login-pge-lft{
    display : none!important;
  }
  .sidebar{
    display : none!important;
  }
  .category-product-container{
    width : 100vw!important;
  }
  .address-box{
    width : 100%!important;
  }
  .address-box-container{
    width : 100%!important;
  }
  .orderSuccessContainer{
    width : 90%!important;
  }
  .side-nav{
    display : none!important;
  }
  .profile-container{
     padding-inline : 10px;
  }
  .login-pge-rgt{
    height : 50%!important;
    width : 75%!important;
  }
  
}

@media only screen and (min-width : 768px){
    
   .orderSuccessContainer{
     width : 50%!important;
   }
   .login-pge-rgt{
    height : 75%!important;
   }
   .signup-pge-rgt{
    height : 75%!important;
   }
   

}



