/* <<< Body Styles >>> 
______________________*/
body{
   overflow-x: hidden;
}

/*<<< Login Page >>>
 ___________________*/

.login-page{
  width : 100vw;
  height : 100vh;
  
}


/*<<<🔥 User Side >>> 🔥*/

.custom-carousel{
  height : 470px!important;
  width : auto;
}

.product-img{
  height : 186px;
  width  : 185px;
}

.banner-1{
  height : 400px;
  width  : 100%
}

.banner-1 img{
  height : 100%!important;
  width  : 100%!important
}

.product-scroll{
  overflow-x : scroll;
  white-space: nowrap;
}

.card-container{
  display : flex;
}

.card{
  flex : 0 0 auto;
}

.side-nav{
  height : 90vh;
  width  : 250px;
  margin : 10px;
  background-color: rgb(41, 45, 50)!important;
}

.profile-container{
  background-color : rgb(217, 217, 217)!important;
  height : 90vh;
  margin-bottom : 10px;
}

.alert-on-active{
  position : fixed;
  bottom : 5vh;
  left  : 50%;
  z-index : 10;
  background-color : rgb(33, 33, 33);
  min-width : 100px;
  min-height : 50px;
  transform : translateX(-50%);
  color : white;
  opacity: 0.7;
  border-radius : 3px;
  display : flex;
  justify-content: center;
  align-items: center;
}

.display-none{
  display : none;
}  

@media only screen and (max-width : 768px) {
  .signup-pge-lft{
    display : none!important;
  }
  .login-pge-lft{
    display : none!important;
  }
}

/*🔥 <<< Admin Page >>> 🔥*/

.main-body{
  width : auto;
  position : absolute;
  left : 350px;
  top : 60px;
}

.side-bar{
  /* position : fixed!important; */
  background-color : rgb(217, 217, 217)!important;
  height : 90vh;
}

.user-scrollable {
  height : 600px!important;
  overflow-y: scroll;
}

.user-nav{
  background-color: rgb(217, 217, 217)!important;
}

.bg-color{
  background-color: rgb(217, 217, 217)!important;
}

.edit-container{
   position : absolute;
   left : 350px;
   top : 100px;
}


.add-product-container{
  height : 90vh;
  background-color : rgb(217, 217, 217)!important;
}

.card-img{
  height : 100%;
  width  : 100%;
}

.product-image{
  height : 200px;
  width  : 18rem;
}

.category-card{
  background-color : rgb(217, 217, 217);
  height : 57px;
  min-width: 716px;
  max-width : 716px;
}


